.sc-header{
    height:auto;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    z-index:3;
    &::after{
        content:'';
        height: 1px;
        width: 100%;
        background: rgb(233, 233, 233);
        position: absolute;
        top: 80px;
        left: 0;
    }
    .header-inner{
        padding: 0 60px;
        display: flex;
        justify-content: space-between;
        // align-items: center;
        height: 100%;
    }
    .logo{
        width: 147px;
        height: 80px;
        a{
            display: block;
            height: 100%;
            width: 100%;
            background: url('../images/logo.svg') center/contain no-repeat;
        }
    }

    .group-site{
        height: 100%;
        display: flex;
        justify-content: center;
        flex-wrap:nowrap;
        text-align: center;
    }
    .site-area{
        transition:width 600ms, padding 300ms;
        width: 176px;
        position: relative;
        // height: 120px;
        &:first-child::before{
            content:'';
            position: absolute;
            left: 0;
            top: 100px;
            width: 1px;
            height: calc(100% - 130px);
            background: rgba(160, 160, 160,0);
            transition:background 300ms 300ms;
        }
        &::after{
            content:'';
            position: absolute;
            right: 0;
            top: 100px;
            width: 1px;
            height: calc(100% - 130px);
            background: rgba(160, 160, 160,0);
            transition:background 300ms 300ms;
        }
        &:nth-of-type(3)::after{
            display: none;
        }
        .site-name{
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            font-size: 18px;
            // color: #fff;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80px;
        }
        .sub-site{
            max-height: 0;
            overflow: hidden;
            transition:max-height 800ms;
        }
        .sub-site .sub-name{
            font-size: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 50px;
            transition:margin-top 300ms 300ms;
        }
    }
    .group-site:hover{

        .site-area{
            width: 200px;
            padding: 0 0 50px 0;
            &:first-child::before{
                background: rgba(160, 160, 160,0.3);
            }
            &::after{
                background: rgba(160, 160, 160,0.3);
                
            }
            .site-name{
                transition:color 300ms;
            }
            .site-name:hover{
                color: #00c0ef;
            }    
        }
        .sub-site{
            max-height:30vh;
            .sub-name{
                &:first-child{
                    margin-top: 30px;
                }
                transition:color 300ms;
                &:hover{
                    color: #00c0ef;
                }    
            }
        }
    }





    .group-right{
        
    }
    .link-recruit{
        line-height: 80px;
        display: block;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 18px;
        // height: 120px;
        &::after{
            content:'4';
            font-size: 14px;
            position: relative;
            top: -5px;
            padding: 2px 8px;
            margin-left: 5px;
            font-size: 12px;
            font-weight: 500;
            border-radius: 30px;
            background-image: linear-gradient(245deg, #00c0ef, #3c6ae9);
            color: #fff;
        }
    }
    .lang-area{
        .lang-name{}
        .lang-list{}
        .lang-item{}
    }
    .lang-area .lang-item{
        a{}
    }

}