
.container{
    margin-top: 80px;
}

.sc-visual{
    height: calc(100vh - 80px);
    position: relative;
    overflow: hidden;

    .group-visual{
        position: relative;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        .visual-area{
            .text-box{
                position: relative;
                transition:opacity 600ms 200ms, top 600ms 200ms;
                top: 150px;
                opacity:0;
                height: auto;
                color: #fff;
                .text{
                    font-size: 60px;
                    line-height: 1.33;
                    margin-bottom: 26px;
                    strong{
                        font-weight:600;
                    }
                }
                .desc{
                    font-size: 24px;
                    line-height: 1.33;
                }
            }
            .swiper-slide-active{
                opacity: 1;
                top: 0;
            }
        }
        .swiper-controller{
            margin-bottom: 60px;
            display: flex;
            height: auto;
            color: #fff;
            align-items: center;
            .swiper-button-next{
                position: relative;
                width:50px;
                height: 50px;
                margin-top: initial;
                
                &::before{
                    content:'';
                    display: block;
                    width:30%;
                    height: 2px;
                    background: #fff;
                    position: absolute;
                    top: 50%;
                    right:0;
                    transform: translateY(-50%);
                }
                &::after{
                    color: #fff;
                    font-size: 13px;
                    position: absolute;
                    top: 50%;
                    right:0;
                    transform: translateY(-50%);
                    font-weight: bold;
                }
            }
            .swiper-button-prev{
                position: relative;
                width:50px;
                height: 50px;
                margin-top: initial;
                &::before{
                    content:'';
                    display: block;
                    width:30%;
                    height: 2px;
                    background: #fff;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                }
                &::after{
                    color: #fff;
                    font-size: 13px;
                    position: absolute;
                    top: 50%;
                    left:0;
                    transform: translateY(-50%);
                    font-weight:bold;
                }
            }
            .swiper-pagination{
                position: initial;
                width:auto;
            }
        }
    }
    .btn-scroll{
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
        color: #fff;
        position: absolute;
        bottom: 60px;
        left: 60px;
        z-index: 1;
        padding-left: 35px;
        line-height: 30px;
        display: flex;
        &::before{
            content:'';
            background: url('../images/icon-scrolldown.svg') center/contain no-repeat;
            height: 30px;
            width: 30px;
            display: block;
            z-index: 1;

        }
    }
    .group-bg{
        // opacity:0.3;
        // background: #00f;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        video{
            width:100vw;
            height: 100%;
            object-fit:cover;    
        }
        img{
            width: 100%;
            height: 100%;
        }
    }

}

.sc-section1{
    background: #edf2f8;
    padding: 10.42209vw 0 11.4643vw;
    .inner{
        display: flex;
    }
    .text-box{
        max-width: 41.66667%;
        padding-right: 7.03491vw;
        display: flex;
        justify-content: space-between;
        flex-direction:column;
        .sub-title{
            font-size: 60px;
            line-height: 1.42;
            margin-bottom: 30px;
            strong{
                font-weight: 600;
            }
        }
        .desc{
            font-size: 22px;
            line-height: 1.64;
        }
        .btn-more{
            margin-top: 60px;
        }
    }

    .img-box{
        max-width: 58.33333%;
        position: relative;
        img{
            padding: 0 20px 20px 0;
            position: relative;
            z-index:1;
            width: 100%;
        }
        .square-box{
            position: absolute;
            right: 20px;
            bottom: 20px;
            width: 24.07504vw;
            height: 16.67535vw;
            background: url('../images/square-box.svg') right bottom/cover no-repeat;
        }
    }
}

.sc-section2{
    margin: 10.42209vw 0 11.4643vw;
    
    .group-title{
        margin-bottom: 7.81657vw;
        .main-title{
            font-size: 60px;
            line-height: 1.42;
            margin-bottom: 30px;
            font-weight: 600;
        }
        .desc{
            font-size: 22px;
            color: #555;
            display: block;
        }
    }

    .group-box1{
        display: flex;
        align-items: center;
        margin-bottom: 150px;
        .img-area{
            flex: 0 0 50%;
            max-width: 50%;
            position: relative;
            .img-box{
                position: relative;
                padding: 20px 20px 0 0;
                z-index:1;
                width: 100%;
                height: 100%;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .square-box{
                top: 20px;
                right: 20px;
            }
        }



        .text-area{
            padding-left: 7.03491vw;
        }
    }


    .group-box2{
        display: flex;
        align-items: center;
        flex-direction:row-reverse;
        margin-bottom: 150px;
        .img-area{
            .img-box{
                padding: 0 0 20px 20px;
            }
            .square-box{
                bottom: 20px;
                left: 20px;
            }
        }
        .text-area{
            padding-right: 7.03491vw;
        }
    }
    .group-box3{
        display: flex;
        align-items: center;

        .img-area{
            .img-box{
                padding: 0 20px 20px 0;
            }
            .square-box{
                bottom: 20px;
                right: 20px;
            }
        }
        .text-area{
            padding-left: 7.03491vw;
        }
    }
}


.sc-section3{
    padding-top: 60vh;
    color: #fff;
    position: relative;
    justify-content: space-between;
    // background: #f00;
    padding-bottom: 10.42209vw;
    .inner{
        display: flex;
    }
    .group-left{
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
        .main-title{
            line-height: 1.42;
            font-size: 60px;
            font-weight: 600;
            margin-bottom: 30px;
        }
        .btn-more{
            a::after{

                background: url('../images/icon-arrow-w.svg') center/contain no-repeat;
            }
        }
    }

    .group-right{
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
        .sub-title{
            font-size: 26px;
            // font-weight: 500;
            margin-bottom: 15px;
        }
        >.desc{
            color: #cbdaef;
            line-height: 1.75;
            margin-bottom: 210px;
            display: block;
        }
        .promotion-area{
            display: flex;
            flex-wrap: wrap;
            .column{
                width: 50%;
                padding: 0 20px;
                &.column-right{
                    display: flex;
                    align-items: center;
                    .promotion-wrap{
                        padding-left: 13.218%;
                        padding-right: 0;
                    }
                }
                &.column-left{
                }
            }
        }
        .promotion-area .promotion-wrap{
            width: 100%;
            padding-right: 13.218%;
            &:nth-of-type(1){
                margin-bottom: 150px;
            }
            &:nth-of-type(2){}
            .img-box{
                width: 100%;
                img{
                    width: 100%;
                }
            }
            .text-box{}
            .text{
                font-size: 26px;
                margin: 50px 0 20px;
            }
            .desc{
                font-size: 20px;
                line-height: 1.5;
            }
        }
    }

    .bg-box{
        position: absolute;
        background: url('../images/fix-bg.jpg') left bottom/cover no-repeat;
        height: 100vh;
        width: 100%;
        left: 0;
        top: 0;
        z-index:-1;
        &::after{
            content:'';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.25);
        }
        &.fix{
            position: fixed;
        }
    }
}


.sc-section4{
    margin-top: 10.42209vw;
    .group-title{
        display: flex;
        margin-bottom: 80px;
        .main-title{
            font-size: 60px;
            flex: 0 0 58.33333%;
            max-width: 58.33333%;
            line-height: 1.42;
            font-weight: 600;
        }
        .desc{
            font-size: 22px;
            color: #555;
        }   
    }
    .group-recruit{
        display: flex;
        justify-content: space-between;
        gap: 20px;
        .text-box{
            z-index:1;
            flex: 0 0 33.33333%;
            max-width: 33.33333%;
            padding: 65px;
            color: #fff;
            position: relative;
            top: 0;
            transition:top 300ms;
            &:nth-of-type(1){
                background: #00c0ef;
            }
            &:nth-of-type(2){
                background: #1dd6a4;
            }
            &:nth-of-type(3){
                background: #3c6ae9;
            }
            &:hover{
                top: -40px;
            }
            .sub-title{
                font-size: 26px;
                margin-bottom: 20px;
            }
            .desc{
                font-size: 20px;
                line-height: 1.5;
                margin-bottom: 50px;
            }
            .btn-more{
                a::after{
                    background: url('../images/icon-arrow-w.svg') center/contain no-repeat;
                }
            }
        }
    }
    .img-box{
        width: 100%;
        margin-top: -160px;
        z-index:0;
        img{
            width: 100%;
        }
    }
}

.sc-section5{
    margin-top: 7.81657vw;
    position: relative;
    .group-top{
        display: flex;
        flex-wrap:wrap;
        justify-content: space-between;
        .left-area{
            width: calc(100%/3);
            .sub-title{
                font-size: 45px;
                line-height: 1.45;
                font-weight: 600;
            }
            .recruit-count{
                position: relative;
                margin-top: 25px;
                font-size: 18px;
                display: inline-block;
                .number{
                    font-size: 40px;
                    margin: 0 10px 0 25px;
                }
                &::after{
                    margin-top: 20px;
                    content:'';
                    display: block;
                    width: 100%;
                    height: 1px;
                    background: #0dd9cf;
                }
            }
        }
        .right-area{
            width: calc(100%/3*2);
            display: flex;
            flex-wrap:wrap;
            justify-content: center;
            .recruit-box{
                width: 100%;
                display: flex;
                align-items: center;
                height: 131px;
                position: relative;
                transition:background 600ms;
                border-top:1px solid #ddd;
                border-bottom:1px solid #ddd;
                &:hover{
                    background: #e5f9fe;
                }
                .category{
                    font-size: 18px;
                    width: 159px;
                    min-width: 159px;
                    text-align: center;
                }
                .text{
                    font-size: 24px;
                    width: 100%;
                }
                .date{
                    font-size: 18px;
                    color: #777;
                    width: 40%;
                    text-align: center;
                }
                .status{
                    font-size: 18px;
                    color: #fff;
                    font-weight: 600;
                    width: 159px;
                    min-width: 159px;
                    width:auto;
                    span{
                        background: #00c0ef;
                        border-radius:13px;
                        padding: 4px 15px;

                    }
                }
            }
            .btn-more{
                margin-top: 50px;
            }
        }
    }

    .group-bottom{
        padding: 7.81657vw 0 7.29547vw;
        .sub-title{
            position: relative;
            z-index:1;
            font-size: 60px;
            color: #1c4d9a;
            line-height: 1.42;
            strong{
                font-weight: 600;
            }
        }
        .img-box{
            position: absolute;
            right: 10px;
            bottom: 0;
            img{}
        }
    }
}


.sns-area{
    position: sticky;
    bottom: 45px;
    right: 60px;
    width: 25px;
    height: auto;
    margin-left: auto;
    .link-sns{
        margin-bottom: 30px;
        display: block;
        opacity:0.5;
        transition:opacity 300ms;
        &:hover{
            opacity:1;
        }
    }
}